<div class="auth">
  <div class="auth-form">
    <h1>Log in</h1>

    {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
    {{/if}}

    <form action="/auth/login" method="post">
      <div class="auth-inputs">

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter username">

        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter password">

        <br>

        <button type="submit">Log in</button>
      </div>
    </form>

    <p class="account-message">
      Don't have an account?
      <a href="/auth/signup">Sign up</a>
    </p>
  </div>
</div>