<div class="auth">
  <div class="auth-form">
    <h1>Sign up</h1>
    {{#if host}}
    {{!-- <h4>Youre applying to become a host. If you dont want to click here</h4> --}}
    {{/if}}

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <form action="/auth/signup" method="POST" id="signup-form">
      <div class="auth-inputs">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="Enter username">

        <br>

        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Enter password">

        <br>

        {{#if host}}
        <input type="checkbox" checked name="host" style="display: none">
        {{/if}}

        <button>Create account</button>
      </div>
    </form>

    <p class="account-message">
      Already have an account?
      <a href="/auth/login">Log in</a>
    </p>
  </div>
  <a href="/">Home</a>
</div>