@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  font-size: 16px;
  color: #353535;
}

.home-page-top {
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.brand-box {
  font-family: "Leckerli One";
  display: flex;
  align-items: center;
  font-size: 1.7em;
}

nav {
  color: #0781b9;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.527),
    rgba(128, 128, 128, 0)
  );
  text-shadow: white 0 0 10px;
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

#car-logo {
  width: 50px;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 7%;
}

.nav-links ul {
  font-size: 1.3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 500px;
}

.nav-links ul a {
  color: black;
  text-decoration: none;
}

.nav-links ul a:hover {
  color: white;
}

.search-box {
  background-color: rgba(255, 255, 255, 0.774);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  border-radius: 2%;
  box-shadow: 1px 1px 5px 0 black;
  height: 500px;
  margin-top: 5%;
  margin-left: 9%;
  padding: 1.5%;
}

.search-box h3 {
  font-size: 2em;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 85%;
  padding-top: 6%;
}

.search-location {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
}

.search-date {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  text-emphasis: none;
  text-align: left;
  width: 80%;
}

.search-date-from {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.search-date-to {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.search-form input {
  font-family: "Poppins";
  font-size: 1em;
  padding: 1%;
  border-radius: 0.2em;
}

.search-long-term {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16%;
}

.search-long-term a {
  font-size: 1.2em;
  color: #0781b9;
  text-decoration: none;
}

.search-box button {
  font-size: 2em;
  color: white;
  box-shadow: 1px 1px 5px 0 gray;
  background: linear-gradient(to bottom, #33c070 5%, #30ac65 100%);
  padding: 2.5%;
  margin-bottom: 5%;
  border-radius: 0.2em;
  width: 90%;
}

.search-box button:hover {
  background: linear-gradient(to bottom, #30ac65 5%, #33c070 100%);
}

.search-box a {
  text-decoration: none;
  color: #0781b9;
}

.available-spots {
  background-color: #849aa8;
  height: 1600px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}

.available-spots a {
  text-decoration: none;
}

hr {
  border-style: none;
  border-top: 1px solid gray;
}

.spot-listing {
  width: 40%;
}

.spot-listing ul {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 1.5%;
  box-shadow: 1px 1px 5px 0 black;
  padding: 3%;
  line-height: 2em;
}

.detail {
  background-color: #849aa8;
  height: 1100px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
}

.detail a {
  text-decoration: none;
  color: #0781b9;
}

.spot-details {
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 1.5%;
  box-shadow: 1px 1px 5px 0 black;
  width: 35%;
  height: 700px;
  padding: 2%;
}

// .detail-heading {
//   color: #0781b9;
// }

.detail-price {
  font-size: 1.4em;
  // color: #0781b9;
}

.spot-details span {
  font-weight: bold;
  // text-decoration: underline;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.auth {
  background-color: #849aa8;
  height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.auth-form {
  background-color: rgba(255, 255, 255, 0.89);
  text-align: center;
  height: 375px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4%;
  box-shadow: 1px 1px 5px 0 black;
  padding: 2% 0;
  margin-top: 5%;
  margin-bottom: 1%;
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth-inputs button {
  width: 25%;
  padding: 2%;
  border-radius: 6px;
  color: white;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
}

.auth-inputs button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.auth-inputs input {
  width: 40%;
  font-family: "Poppins";
  padding: 1%;
  border-radius: 0.2em;
}

.auth a {
  text-decoration: none;
}

.add-edit {
  background-color: #849aa8;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

.add-edit-form {
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 2%;
  box-shadow: 1px 1px 5px 0 black;
  width: 500px;
  padding: 20px;
  line-height: 2.2em;
  margin-bottom: 2%;
}

.add-edit-form input {
  font-family: "Poppins";
  padding: 0.5%;
  border-radius: 0.2em;
}

#description {
  width: 75%;
}

.add-edit-form button {
  width: 100%;
  padding: 2%;
  font-size: 1.7em;
  border-radius: 0.2em;
  color: white;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
}

.add-edit-form button:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.add-edit a {
  text-decoration: none;
}

.error-message {
  color: red;
  font-weight: bold;
}

.spot-gen-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // line-height: 2.5em;
  padding: 0.5% 0;
}

.spot-gen-info > li > a {
  color: #353535;
}

.detail-link {
  color: white;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0 black;
  padding: 1% 1%;
  width: 20%;
  text-align: center;
}

.detail-link:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.book-button {
  font-size: 1.2em;
  background: linear-gradient(to bottom, #33c070 5%, #30ac65 100%);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0 black;
  padding: 1% 1%;
  width: 25%;
  text-align: center;
}

.book-button:hover {
  background: linear-gradient(to bottom, #30ac65 5%, #33c070 100%);
}

.footer-links {
  color: black;
}

.footer-links:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
