<h1>Add a Parking Spot</h1>

<form action="/parking-spots/add" method="POST">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">

  <br>

  <label for="address">Address: </label>
  <input type="text" name="address" id="address">

  <br>

  <label for="description">Description: </label>
  <input type="textarea" rows="6" cols="33" name="description" id="description">

  <br>

  <label for="size">Size: </label>
  <select name="size" id="size">
    <option value="Compact">Compact</option>
    <option value="Midsized">Midsized</option>
    <option value="Large">Large</option>
  </select>

  <br>

  <label for="type">Type: </label>
  <select name="type" id="type">
    <option value="Driveway">Driveway</option>
    <option value="Street">Street</option>
    <option value="Parking lot">Parking lot</option>
    <option value="Garage">Garage</option>
  </select>

  <br>

  <label for="price">Price per hour (in USD): </label>
  <input type="number" name="price" id="price">

  <br>

  <button type="submit">Submit</button>
</form>